@charset "UTF-8";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
html,body {
    margin-bottom: 0px;
    padding: 0px;
    width: 100vw;
    text-align: center;
    background-color: white;
}

body > img {
    width: 100vw;
    margin-bottom: -2px;
}

body > a {
    display: block;
    margin-top: -2px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: rgb(3, 129, 255);
    box-sizing: border-box;
    border: 2px solid rgb(3, 129, 255);
}

body > a:hover {
    color: rgb(3, 129, 255);
    background-color: white;
    border: 2px solid rgb(3, 129, 255);
    transition: color 1s, background-color 1.5s, border 1.5s; 
}